<%- include('./partials/header') %>

  <% if (user) {%>
      <p>Welcome back <%= user.name %></p>
    <% } else { %>
      <p>Welcome to <%= title %></p>
  <% } %>
  

<%- include('./partials/footer') %>

