body {
  /* padding: 20px; */
  font: 18px 'Quicksand', sans-serif;
}

h1,h2,p {
  text-align: center;
  margin: 10px;
}

img {
  border-radius: 50%;
  height: 30px;
}

a {
  color: #00B7FF;
}

a > img {
  height: 45px;
}

#img-show {
  height: 270px;
  border-radius: 0%;
}

.list-pcf{
  list-style: none
}

.list-pcf > li::before{
  content: "\2022";
  width: 25px;
  margin-left: -1em;
  padding: 7px;
  /* color: blue; */
}

.list-pcf > li:first-child::before {
  color: blue;
}

.list-pcf > li:nth-child(n+2)::before {
  color: rgb(227, 116, 25);
}

.list-pcf > li:last-child::before {
  color: rgb(240, 44, 4);
}

.buttons {
  display: flex;
  justify-content: end;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

/* start for items in index */
#items-cont {
  width: 250px;
  height: 300px;
  transition: scale 0.5s;
  color: black;
  text-align: center;
  
}

#items-cont:hover {
  scale: 1.05;
}

#items-cont > img {
  height: 65%;
  width: 75%;
}

.flex-wrap > a {
  text-decoration: none;
}

#starImg {
  max-height: 20px;
  max-width: 20px;
  border-radius: 0%;
  margin: 0 3px 3px;
}

/* end for items in index */

/* progress bar */
.progress {
  height: 5px;
}

/* footer */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  background-color: #f8f9fa;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;            /* Footer height */
}

/* home page gif*/

#index-container {
  background-image: url("/gifs/smoothies.gif");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#index-container > h1 {
  font-weight:bold;
  background-color: white;
  color: black;
  width: 300px;
  margin:  auto;
  padding: 20px;

}


/* navigation bar */
#log-cont {
  border: solid thin gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 150px;
  color: black;
}

#navbarSupportedContent {
  justify-content: end;
}

#navbarSupportedContent > a, #log-cont > a {
  color: black;
  opacity: 0.5;
}

#log-cont > a:hover {
  opacity: 1;
}

#navbarSupportedContent > a:hover {
  opacity: 1;
}