body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1,p {
  text-align: center;
  margin: 10px;
}

img {
  border-radius: 50%;
  height: 30px;
}

a {
  color: #00B7FF;
}

footer {
  margin-top: auto;
}

a > img {
  height: 45px;
}

#img-ing {
  height: 270px;
}

.list-pcf{
  list-style: none
}

.list-pcf > li::before{
  content: "\2022";
  width: 25px;
  margin-left: -1em;
  padding: 7px;
  /* color: blue; */
}

.list-pcf > li:first-child::before {
  color: blue;
}

.list-pcf > li:nth-child(n+2)::before {
  color: rgb(227, 116, 25);
}

.list-pcf > li:last-child::before {
  color: rgb(240, 44, 4);
}

.buttons {
  display: flex;
  justify-content: end;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

/* start for items in index */
#items-cont {
  width: 250px;
  height: 320px;
  transition: scale 0.5s;
  color: black;
  text-align: center;
  
}

#items-cont:hover {
  scale: 1.05;
}

#items-cont > img {
  height: 65%;
  width: 80%;
}

.flex-wrap > a {
  text-decoration: none;
}

/* end for items in index */

