<%- include('../partials/header') %>
<div class="container-md">
  <p>Welcome to <%= title %></p>
</div>


  <ul>
    <li><%= ingredients %></li>
  </ul>



<a href="/ingredients/new">New Ingredient</a>
  

<%- include('../partials/footer') %>