<%- include('../partials/header') %>

  
  <p>Welcome to <%= title %></p>
  <p>This is where I render all my smoothies <%= title %></p>
  <a href="/smoothies/new">New Smoothie</a>

<%- include('../partials/footer') %>