
<%- include('../partials/header') %>
<div class="buttons">
  <a href="/smoothies/edit"" class="btn btn-secondary btn-sm">Edit</a>
  <a href="/smoothies/new" class="btn btn-danger btn-sm">Delete</a>  
</div>


<h1><%= smoothie %></h1>






  

<%- include('../partials/footer') %>